{
    margin: o;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.input{
    text-align: center;
}

input[type="text"]{
    height: 50px
    width: 600px
    background: e7e7e7
    font-family: 'courier new'
    font-weight: bold;
    font-size: 20px
}

